<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>THGFoundation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>THGFoundation_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA24103C1AF965B700AA4410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8CD5591B7A9DCA00DA8BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA8CD5621B7A9DCB00DA8BF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CACF2A091A9614D20084EFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CACF2A141A9614D20084EFAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
